body{
    background-color: rgba(16, 81, 157, 0.364);
}
*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    grid-column-gap: 25px;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.403);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}
input{
    width: 200px;
    height: 50px;
    text-align: center;
}
.exibirsaldo{
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
 
}
.alterarsaldo{
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
}
